<div class="container">
	<div id="title">
		<center>
			<b><header>HR Management System</header></b>
		</center>
	</div>

	<center>
		<div id="links">
			<%= link_to "Employee Salary", employee_salaries_path(), class: "button" %>
			<%= link_to "High Paid", high_paid_index_path(), class: "button" %>
			<%= link_to "Low Performers", low_performance_high_salaries_path(), class: "button" %>
			<%= link_to "High Performers", high_performance_high_leave_index_path(), class: "button" %>
			<%=  link_to "Admin", rails_admin_path(),  class: "button" %> 
		</div>
	</center>
</div>